.info {
    font-size: 18px;
    font-weight: 800;
    border-radius: 20px;
    background-color: #54744F;
    color: white;
}

.info2 {
    font-size: 18px;
    font-weight: 800;
    margin-left: 940px;
    border-radius: 20px;
    border: 0px;
    background-color: #54744F;
    color: white;
}

.info3 {
    font-size: 18px;
    font-weight: 800;
    margin-left: 940px;
    border-radius: 20px;
    border: 0px;
    background-color: #54744F;
    color: white;
}

.info4 {
    font-size: 18px;
    font-weight: 800;
    margin-left: 1030px;
    border-radius: 20px;
    border: 0px;
    background-color: #54744F;
    color: white;
}

.info5 {
    font-size: 18px;
    font-weight: 800;
    border-radius: 20px;
    margin-left: 150px;
    background-color: #91C789;
    color: white;
}

p {
    color: black;
    font-size: 14px;
    font-weight: lighter;
    padding-left: 10px
}

@media screen and (max-width:991.98px) {}